@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    font-family:'Raleway','Arial';
    background-color:	#F5FFFA;
    font-weight:bold;
}
h1{
    text-align:center;
    padding:10px;
    border-bottom:2px solid black;
}
img{
    width:150px;
    height:150px;
    object-fit: contain;
    border-radius:50%;

}
.user{
    display:grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid black;
    width:80%;
    margin:25px auto;
    border-radius:10px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
   
    padding:1rem;
    text-align:center;
}

.user:nth-child(odd){
    background-color:black;
    color:#fff;
}
.user:nth-child(even){
    background-color:lightcyan;
}
.left,
.right{
    display:flex;
    flex-direction: column;
    justify-content: center;
   align-items:center;
}
.right p{
    padding:.5em 0em;
}

@media(min-width:320px){
    .user{
        grid-template-columns: 1fr;
    }
    @media(min-width:768px){
        .user{
            grid-template-columns: 1fr 1fr;
        }
    }
}